.completed {
  color: darkgrey;
  text-decoration: line-through;
}

.container {
  box-sizing: border-box;
  border: 1px solid black;
  width: 360px;
  margin: 0 auto;
}

body {
  background: rgb(250, 249, 253);
}
